@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-text-dark font-manrope;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-playfair;
}
